.container-servicios{
    margin-top: 0.5rem;
    width: 100%;
    height: 50vh;
    padding: auto;
}

.container-servicios > h1{
    width: 80%;
    margin: auto;
    text-align: center;
    height:  50px;
    background-color: #2ec6ce52;
    color: white;
}
.ul-servicios{
    width: 60%;
    height: 100%;
    margin:auto;
    display: flex;
    gap: 2rem;
    list-style: none;
    flex-direction: row;
    overflow: hidden;
}

.ul-servicios > .li-servicios{
    width: 100%;
    height: 43%;
    margin-top: 1rem;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    justify-content: space-between;
}

.li-servicios::after{
    content: attr(data-name)"";
    position: relative;
    top: -260px;
    background-color: #2ec6ce52;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    transform: translate(0%, -100%);
    transition: .4s ease-in;
    opacity: 0; 
}

.li-servicios:hover::after{
    opacity: 100%;
    transform: translate(0);
}
.li-servicios:hover{
    height: 95%;
    cursor: pointer;
}
.ul-servicios > .li-servicios > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.ul-servicios > .li-servicios > p{
    width: 100%;
    padding: 0.3rem;
}
.ul-servicios > .li-servicios > button{
    width: fit-content;
    height: fit-content;
    border: none;
    padding: 0.5rem;
    position: relative;
    color: white;
    font-size: 15px;
    top: 0px;
    background-color: rgba(23, 244, 23, 0.865);
    cursor: pointer;
}
.ul-servicios > .li-servicios > .a-servicios{
    text-decoration: none;
    position: relative;
    top: -35px;
    color: white;
    background-color: red;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border: none;
    margin-left: auto;
}

.container-model{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
}
.model{
    width: 40%;
    height: 70%;
    position: relative;
    z-index: 5;
    top: 15%;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.model > .form-reserva{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
}

.form-reserva > h3{
    width: 100%;
    color: #cfcfff;
    text-align: center;
    font-weight: 600;
    font-family: 60px;
    margin-bottom: 2rem;
}

.form-reserva > .titulo-campo{
    color: #5757577e;
    cursor: pointer;
    position: relative;
    top: -40px;
    left: 5px;
    transform: translateY(10px);
    transition: all .5s, color .3s;
}

.form-reserva> .txtinput{
    border: none;
    border-bottom: solid 1px;
    height: 100px;
    margin-bottom: .5rem;
}
.overlay{
    width: 100%;
    position: relative;
    height: 100%;
    backdrop-filter: blur(60px);
    top: -70vh;
    
}